.dom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.domImg{
  display: inline;
}


.st0,.st1,.st2,.st3{fill:#FFFFFF;}
.st1-text,.st2-text,.st3-text{fill:#000000;}
.etazh1,.etazh2,.etazh3 {
  opacity:0;
  enable-background:new;
}
.etazh1:hover ,.etazh2:hover,.etazh3:hover  {
  opacity:0.35;
}

.svgMC {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}

